#parse("header.html")
<link rel="stylesheet" href="/styles/index.css">
<link rel="stylesheet" href="/styles/detail.css">
<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>

<script type="text/javascript" src="/scripts/ajaxfileupload.js"></script>
<script type="text/javascript" src="/scripts/jquery-1.7.1.js"></script>

<div class="zg-wrap zu-main clearfix " role="main">
    <div class="zu-main-content">
        <div class="zu-main-content-inner">
            <div class="zg-section" id="zh-home-list-title">
                <input type="hidden" id="is-topstory">
            </div>
            <div class="zu-main-feed-con navigable" data-feedtype="topstory" id="zh-question-list"
                 data-widget="navigable"
                 data-navigable-options="{&quot;items&quot;:&quot;&gt; .zh-general-list .feed-co  ntent&quot;,&quot;offsetTop&quot;:-82}">
                <a href="javascript:;" class="zu-main-feed-fresh-button" id="zh-main-feed-fresh-button"
                   style="display:none"></a>
                <div id="js-home-feed-list" class="zh-general-list topstory clearfix"
                     data-init="{&quot;params&quot;: {}, &quot;nodename&quot;: &quot;TopStory2FeedList&quot;}"
                     data-delayed="true" data-za-module="TopStoryFeedList">
                    <form action="/question/add" method="post">
                        <input type="hidden" name="id" value="${question.id}"/>
                        标题：
                        <div id="zh-question-answer-form-wrap" class="zh-question-answer-form-wrap">
                            <div class="zm-editable-editor-wrap" style="">
                                <div class="zm-editable-editor-outer">
                                    <div class="zm-editable-editor-field-wrap">
                                <textarea name="title" id="title" class="zm-editable-editor-field-element editable"
                                          style="width:100%;">${question.title}</textarea>
                                    </div>
                                </div>
                                <br>
                                内容：
                                <br>
                                <br>
                                <div class="zm-editable-editor-outer">
                                    <div class="zm-editable-editor-field-wrap">
                                        <textarea id="content" name="content" rows="10" cols="38"
                                                  class="zm-editable-editor-field-element editable">${question.content}</textarea>
                                        <script type="text/javascript">CKEDITOR.replace('content');</script>
                                    </div>
                                </div>
                                <div class="zm-command clearfix">
                            <span class=" zg-right">
                                <button type="submit" class="submit-button zg-btn-blue"
                                >发布回答</button></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
    </script>
    #parse("js.html")
    <script type="text/javascript" src="/scripts/main/site/detail.js"></script>
    #parse("footer.html")